
@media screen and (min-width: 780px){
header{
	text-decoration: none;
	position: sticky;
	text-align: right;
}

.right{
	padding-top: 50px;
	padding-left: 700px;
	}

main{
	padding-top: 50px;
	text-align: center;
}
.navigation-item{
	text-decoration: none;
	color: black;
	font-size: 30px;
	margin-right: 10px;
	}

a{
	text-decoration: none;
	color: black;
}

footer{
	text-align: center;
	padding-top:400px; 
}
}